name: Pull Request CI

on:
  pull_request:
    branches: develop

jobs:
  test_oslg_ubuntu_latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.x"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel
      - name: Run unit tests
        run: python -m unittest

  test_oslg_ubuntu_2204:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.x"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel
      - name: Run unit tests
        run: python -m unittest
