name: Pull Request CI

on:
  pull_request:
    branches: develop

jobs:
  test_osut_ubuntu_latest_openstudio_latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel oslg openstudio
      - name: Run unit tests
        run: python -m unittest
